body{
  margin: 0;
}

.top-pane{
  background-color: hsl(225, 6%, 25%);
}

.pane{
  height: 50vh;
  display: flex;
}

.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: hsl(225, 6%, 25%);
}

.editor-container.collapsed{
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.editor-title{
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.CodeMirror{
  height: 1000% !important;
} 
/* This code helps to fit the compailers in the same height while zoom in or zoom out */

.code-mirror-wrapper{
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

button{
  color: white;
  padding: .2rem;
  border-radius: 50%;
  border: 0.5px solid rgb(0, 0, 0);
  font-size: 15px;
  background-color: hsl(225, 6%, 13%);;
}

button:focus{
  border: 0.5px solid rgb(255, 255, 255);
}